@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        @apply text-white;
        //background-image: linear-gradient(350deg, #000000 0%, #021a50 50%, #000000 100%);
        background-image: linear-gradient(190deg, #0776d0 0%, #000000 30%, #0c0c0c 100%);

    }

    .bg-main {
        background-image: url(../../public/bgws1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .navItem {
        @apply flex justify-center items-center bg-transparent w-full h-14 shadow-2xl cursor-pointer ease-in-out transition-all hover:bg-zinc-700 hover:bg-opacity-50 active:bg-opacity-10 
    } 
    .navItemActive {
        @apply flex justify-center items-center bg-zinc-700 bg-opacity-80 w-full h-14 shadow-2xl cursor-pointer transition-all border-l-2 border-l-sky-500 
    } 

    .formInput {
        @apply w-full h-12 rounded-sm bg-zinc-700 text-sm text-opacity-10 rounded-lg pl-4 shadow-2xl focus:ring-1 transition focus:ring-sky-400 focus:outline-none focus:text-white
    }
}