.NavBody{
    min-height: 50px;
    height: auto;
    width: 100%;
    background-color: rgb(20, 20, 20);
    -webkit-box-shadow: 1px 14px 108px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 14px 108px -4px rgba(0,0,0,0.75);
    box-shadow: 1px 14px 108px -4px rgba(0,0,0,0.75);

    item{
        display: inline-block;
        background-color: rgb(20, 20, 20);
        height: 50px;
        width: 50px;
        i{
            display: flex;
            padding-top: 10px;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            color: rgb(230, 230, 230);
        }
    }
    item:hover{
        background-color: rgb(54, 54, 54);
    }
}
.notepad{
    width: 100%;
    height: 100%;
}